body{
    background-image:url("pics.jpg");
}
h1{
    color: #F50057;
    display: block;
    font-size: 50px;
    font-weight: 700;
    font-family: 'verdana', cursive;
    margin-top: 0px;
    border-top-width: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    margin-bottom:0px;
    text-align: center;
    transition:0.25s;
}
h1:hover{
    font-size: 60px;
}
.display-date {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.6rem;
    font-weight: 600;
  }